* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}
p {
	font-family: Roboto;
	font-size: 1.6rem;
	/* line-height: 2.6; */
}
.wrapper {
	background: #fffbf0;
	height: auto;
}
.btn {
	background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
	padding: 1.5rem 3rem;
	border-radius: 1rem;
	border: none;
	text-transform: uppercase;
	color: #ffffff;
	font-family: Roboto;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin: 2rem 0;
}
main {
	margin: 5rem 0;
}
.woman-jacket-wrapper {
	margin-bottom: 7rem;
}
.section-title {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 4.8rem;
	line-height: 4.8rem;
	color: #363958;
	margin-bottom: 2rem;
}
/* Header Section */
.dotdot {
	position: absolute;
	left: 478px;
	width: 150px;
}

header .logo {
	width: 30rem;
}

header .nav-link {
}
.navbar {
	padding-top: 1.5rem;
}
.navbar-light .navbar-nav .nav-link {
	font-size: 1.6rem;
	font-weight: 500;
	color: #3c3c3c;
}
.navbar-toggler {
	font-size: 2rem;
	line-height: 1;
	border-radius: 0.25rem;
}
.navbar-nav .nav-item {
	margin: 0 1.6rem;
}
.navbar-nav .nav-item:last-child {
	margin-right: 0;
}
/*End of Header Section */

/* Hero Section */
.hero-content h1 {
	font-family: Bebas Neue;
	font-weight: bold;
	font-size: 8rem;
	line-height: 8rem;
	letter-spacing: 0.5rem;
	color: #363958;
}
.hero-content h1 span {
	color: #fabe4c;
}

.hero-content .text-box {
	max-width: 36rem;
}

.hero-img img {
	width: 45rem;
}
/*End of Hero Section */

/* Main Section */
.jackets-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.jacket {
	display: grid;
	grid-template-columns: 32rem;
	grid-template-rows: 32rem 12rem 8rem;
	grid-template-areas: 'image' 'text' 'footer';

	border-radius: 18px;
	background: white;
	/* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); */
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	font-family: roboto;
	text-align: center;
	margin: 2.5rem;
}
.jacket-img {
	grid-area: image;
	background: #f1f1f1;
	border-radius: 18px;
	padding: 1rem;
}

.jacket-description {
	grid-area: text;
	padding: 0 2rem;
}
.jacket-description h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #363958;
	margin: 1.5rem 0;
	text-align: left;
}
.jacket-description p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #3e3e3e;
	text-align: left;
}
.jacket-footer {
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
}
.jacket-footer .price {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #fabe4c;
}

/* Seller Section */

.col-md-3 img {
	width: 8rem;
}
/*End of Seller Section */

/*End of Main Section */

/* Footer */

#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#footer .container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#footer .container .brand {
	max-width: 50rem;
	margin-bottom: 2rem;
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.2rem;
}
/*End of Footer */

/* Media Query */
@media only screen and (max-width: 768px) {
	header .logo {
		width: 25rem;
	}
	.hero-content h1 {
		font-size: 5.5rem;
		line-height: 5.5rem;
		letter-spacing: 0.2rem;
	}

	/* Jacket Section */
	.section-title {
		text-align: center;
	}
	.seller {
		display: flex;
		flex-direction: column-reverse;
	}

	.seller {
		flex-direction: column-reverse;
	}

	.seller-content {
		min-width: 1.5rem;
		flex-wrap: wrap;
		text-align: center;
	}

	.seller-content .seller-icon {
		width: 100%;
		justify-content: center;
	}
}
